[Unit]
Description=merdaccio lightweight npm proxy registry

[Service]
Type=simple
Restart=on-failure
User=merdaccio
ExecStart=/usr/bin/merdaccio --config /etc/merdaccio/config.yaml

[Install]
WantedBy=multi-user.target
